SQ_SCANNER_NAME=Scanner 
SQ_SERVER_NAME=CWCC  
SQ_SERVER_URL=http://sonarqube.nasa.cpwr.corp:9000
MF_SOURCE_FOLDER=MF_Source
XLR_TEMPLATE=A Release from Jenkins - RNU
XLR_USER=xebialabs                           
TTT_FOLDER=tests   
ISPW_URL=http://cwcc.compuware.com:2020
ISPW_RUNTIME=ispw         
