SQ_SCANNER_NAME=scanner 
SQ_SERVER_NAME=localhost  
SQ_SERVER_URL=http://sonarqube.nasa.cpwr.corp:9000
XA_TESTER_SERVER_URL=https://dtw-xatester-ftsdemo.nasa.cpwr.corp/#/repository/systems
MF_SOURCE_FOLDER=MF_Source
XLR_TEMPLATE=A Release from Jenkins - RNU
XLR_USER=admin                           
TTT_FOLDER=tests   
ISPW_URL=http://cwcc.compuware.com:2020
ISPW_RUNTIME=ispw         